.services {
  padding-block: 88px 120px;
  margin-inline: -163px;
  padding-inline: 163px;
  background-color: var(--gray-600);
}

.services-types {
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
