.title-section {
  justify-items: center;

  h3 {
    color: var(--red);
  }
  p {
    font: var(--Title-md);
    padding-block: 8px 56px;
  }
}

.card {
  justify-items: center;
  align-items: center;
  padding: 12px;
  background-color: var(--gray-400);
  border-radius: 8px;
  width: 330px;

  img {
    border-radius: 8px;
    width: 306px;
    height: 156px;
    object-fit: cover;
  }

  h3 {
    font: var(--Title-sm);
    padding-block: 24px 8px;
  }

  p {
    font: var(--Text-sm);
    padding-bottom: 17px;
  }
}

.card-services {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  width: 280px;
  height: 155px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
  h3 {
    font: var(--Title-sm);
    padding-block: 20px 8px;
  }
  p {
    font: var(--Text-sm);
    color: var(--gray-200);
  }
}
